// BASE
$base-bg: #f0a892;
$base-text: #33552d;
$base-bg-dark: #374e6d;
$base-text-dark: #ffe689;

// COMPONENTS
$button-bg: white;
$button-text: green;
$button-bg-dark: black;
$button-text-dark: white;
